exportPattern("^[[:alpha:]]+")
importFrom(optimx,optimx)
importFrom("grDevices", "devAskNewPage")
importFrom("graphics", "abline", "axis", "hist", "layout", "legend","lines", "mtext", "par", "plot", "points", "text")
importFrom("stats", "aggregate", "as.formula", "cor", "deriv", "loess","loess.control", "optim", "predict", "qqplot", "sd","uniroot")
importFrom("utils", "combn", "head", "tail")
import(BB)
S3method(plot,CatDynData)
S3method(plot,CatDynExp)
S3method(plot,CatDynMod)
